<casavina-dynamic-table-paginator [columns] = "columns" [dataKey] = "'id'" [dataSource] = "dataSource" >
	<ng-template csTableActions let-selection >
		<button (click) = "createEntity()" mat-mini-fab >
			<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
		</button >
		<button (click) = "updateEntity(selection)" [disabled] = "!selection" mat-mini-fab >
			<mat-icon fontSet = "material-symbols-outlined" >edit</mat-icon >
		</button >
		<button (click) = "deleteEntityById(selection)" [disabled] = "!selection" mat-mini-fab >
			<mat-icon fontSet = "material-symbols-outlined" >delete</mat-icon >
		</button >
	</ng-template >
</casavina-dynamic-table-paginator >
