<div >
	<h1 >Neueste Nachrichten und Veranstaltungen</h1 >
	<mat-accordion >
		<mat-expansion-panel *ngFor = "let event of events; let i = index" [expanded]="i < 3" >
			<mat-expansion-panel-header >
				{{ event.title }}
			</mat-expansion-panel-header >
			<ng-template matExpansionPanelContent >
				<pre class = "event-message" >{{ event.message }}</pre >
			</ng-template >
		</mat-expansion-panel >
	</mat-accordion >
</div >
