<div class = "containers dashboard" >
	<ng-container *ngIf = "{
      categories: category$ | async,
      status: categoryStatus$ | async,
      error: categoryError$ | async,
      ingredients: ingredient$ | async,
      allergens: allergen$ | async
    } as vm" >
		<ng-container *ngIf = "vm.status && vm.error" >
			<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
		</ng-container >
		<ng-container *ngIf = "vm.categories && vm.ingredients && vm.allergens" >
			<casavina-menu-items [allergens] = "vm.allergens"
			                     [categories] = "vm.categories"
			                     [ingredients] = "vm.ingredients" />
		</ng-container >
	</ng-container >
</div >
