<div class = "containers dashboard" >
	<ng-container *ngIf = "{
      reservations: reservations$ | async,
      status: reservationStatus$ | async,
      error: reservationError$ | async
    } as vm" >
		<ng-container *ngIf = "vm.status && vm.error" >
			<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
		</ng-container >
		<ng-container *ngIf = "vm.reservations && vm.reservations.length > 0; else noReservations" >
			<casavina-reservation-feeds [dataSource] = "vm.reservations" />
		</ng-container >
	</ng-container >
</div >

<ng-template #noReservations >
	<div class = "no-reservations" >
		<h2 class = "title" >Es gibt derzeit keine Reservierungen</h2 >
		<p class = "message" >
			Steigere die Anzahl der Reservierungen, indem du ein neues,
			unwiderstehliches Angebot präsentierst. </p >
		<button class = "action"
		        color = "primary"
		        mat-raised-button
		        routerLink = "/event/offer"
		        style = "font-size: 16px" >
			Angebotsverwaltung aufrufen
		</button >
	</div >
</ng-template >
