$casavina-surface: hsl(43.6, 84.6%, 97.5%);
$casavina-surface-container: hsl(43.1, 84.2%, 92.5%);
$casavina-surface-dim: hsl(43.4, 84.4%, 82.4%);

$casavina-primary: hsl(173.4, 80.4%, 40%);
$casavina-accent: hsl(53, 80%, 40%);
$casavina-warn: hsl(54, 80%, 50%);
$casavina-secondary: hsl(175, 11%, 40%);
$casavina-success: hsl(158, 80%, 40%);
$casavina-info: hsl(203, 80%, 40%);
$casavina-help: hsl(293, 80%, 40%);
$casavina-danger: hsl(354, 80%, 50%);

$casavina-border: hsl(224, 85%, 92%);

$dark-primary-text: hsla(0, 0%, 0%, 87%);
$light-primary-text: hsl(0, 0%, 100%);

$casavina-primary-palette: (
        50: hsl(172, 49%, 91%),
        100: hsl(171, 47%, 77%),
        200: hsl(171, 49%, 62%),
        300: hsl(173, 80%, 40%),
        400: hsl(172, 100%, 33%),
        500: hsl(170, 100%, 30%),
        600: hsl(169, 100%, 27%),
        700: hsl(168, 100%, 24%),
        800: hsl(167, 100%, 21%),
        900: hsl(162, 100%, 15%),
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $light-primary-text,
        ),
);

$casavina-accent-palette: (
        50: hsl(55, 92%, 95%),
        100: hsl(56, 88%, 87%),
        200: hsl(57, 87%, 79%),
        300: hsl(57, 86%, 70%),
        400: hsl(57, 84%, 62%),
        500: hsl(58, 84%, 54%),
        600: hsl(56, 74%, 50%),
        700: hsl(55, 77%, 45%),
        800: hsl(53, 80%, 40%),
        900: hsl(49, 96%, 31%),
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $dark-primary-text,
                900: $dark-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        ),
);

$casavina-warn-palette: (
        50: hsl(63, 79%, 95%),
        100: hsl(60, 77%, 86%),
        200: hsl(60, 76%, 77%),
        300: hsl(60, 77%, 67%),
        400: hsl(60, 78%, 60%),
        500: hsl(59, 79%, 51%),
        600: hsl(54, 80%, 50%),
        700: hsl(48, 96%, 46%),
        800: hsl(42, 100%, 45%),
        900: hsl(32, 100%, 45%),
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $dark-primary-text,
                900: $dark-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        ),
);
