@use 'node_modules/@angular/material/index' as mat;
@use './colors' as color;

@include mat.core();

$casavina-primary: mat.define-palette(color.$casavina-primary-palette, 300);
$casavina-accent: mat.define-palette(color.$casavina-accent-palette);
$casavina-warn: mat.define-palette(color.$casavina-warn-palette);
$casavina-dark: mat.define-palette(mat.$gray-palette, 700);
$casavina-container-background: color.$casavina-surface;
$casavina-typography: mat.define-typography-config(
        $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
        $headline-1: mat.define-typography-level(6rem, 1, 200),
        $headline-2: mat.define-typography-level(4.5rem, 1, 200),
        $headline-3: mat.define-typography-level(3.75rem, 1, 300),
        $headline-4: mat.define-typography-level(3rem, 1, 300),
        $headline-5: mat.define-typography-level(2.25rem, 2.5rem, 400),
        $headline-6: mat.define-typography-level(1.875rem, 2.25rem, 400),
        $subtitle-1: mat.define-typography-level(1.5rem, 2rem, 400),
        $subtitle-2: mat.define-typography-level(1rem, 1.5rem, 400),
        $body-1: mat.define-typography-level(1.125rem, 1.75rem, 400),
        $body-2: mat.define-typography-level(1rem, 1.5rem, 400),
        $caption: mat.define-typography-level(0.75rem, 1rem, 400),
        $button: mat.define-typography-level(1rem, 1.5rem, 500),
        $overline: mat.define-typography-level(0.75rem, 1rem, 300),
);

$casavina-theme-light: mat.define-light-theme(
                (
                        color: (
                                primary: $casavina-primary,
                                accent: $casavina-accent,
                                warn: $casavina-warn,
                                dark: $casavina-dark,
                        ),
                        density: 0,
                        typography: $casavina-typography,
                )
);

@function modify-background($theme, $background-color) {
  // Replace the background in the color object's background palette.
  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);
  $color-background-palette: map-merge(
                  $color-background-palette,
                  (
                          background: $background-color,
                  )
  );
  $color-background-palette: map-merge(
                  $color-background-palette,
                  (
                          raised-button: $background-color,
                  )
  );
  $color-background-palette: map-merge(
                  $color-background-palette,
                  (
                          card: $background-color,
                  )
  );
  $color-background-palette: map-merge(
                  $color-background-palette,
                  (
                          dialog: $background-color,
                  )
  );

  // Replace the background in the background palette.
  $background-palette: map-get($theme, background);
  $background-palette: map-merge(
                  $background-palette,
                  (
                          background: $background-color,
                  )
  );
  $background-palette: map-merge(
                  $background-palette,
                  (
                          raised-button: $background-color,
                  )
  );
  $background-palette: map-merge(
                  $background-palette,
                  (
                          card: $background-color,
                  )
  );
  $background-palette: map-merge(
                  $background-palette,
                  (
                          dialog: $background-color,
                  )
  );

  // Merge the changes into a new theme.
  $modified-theme-color: map-merge(
                  $theme-color,
                  (
                          background: $color-background-palette,
                  )
  );
  $modified-theme: map-merge(
                  $theme,
                  (
                          color: $modified-theme-color,
                  )
  );
  $modified-theme: map-merge(
                  $modified-theme,
                  (
                          background: $background-palette,
                  )
  );

  @return $modified-theme;
}

@include mat.typography-hierarchy($casavina-typography);
@include mat.all-component-themes(
                modify-background($casavina-theme-light, $casavina-container-background)
);
