@use 'node_modules/@angular/material/index' as mat;
@use './material' as material;
@use './colors' as color;
@use './casavina-primeng-light.css';
@use 'node_modules/primeng/resources/primeng.css';
@use 'material-symbols';
@import "tailwindcss/base" layer(tailwindcss);
@import "tailwindcss/components" layer(tailwindcss);
@import "tailwindcss/utilities" layer(tailwindcss);

body {
  font-family: var(--font-family);
  background-color: color.$casavina-surface;
  margin: 0;
  min-height: 100vh;

  .containers {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 90rem;
    padding: 1.5rem;
    margin: 1.25rem auto;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 4.5rem 3rem;

    &.dashboard {
      background-color: color.$casavina-surface-container;
      border: 1px color.$casavina-border solid;
      border-radius: 4px;
      @include mat.elevation(2);
    }
  }

  .overflow-hidden {
    overflow: hidden;
  }

  img {
    border-radius: 4px;
  }
}
