@use '../../../styles/colors' as color;

.navbar-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  .navbar-items-details {
    display: flex;
    align-content: baseline;
    gap: 5px;
    color: hsl(43.6, 10%, 45%);
  }

  .active {
    color: hsl(43.6, 10%, 0%);
    border-bottom: 4px solid color.$casavina-primary;
  }

  a {
    text-decoration: none;
  }
}
