.user-list {
  display: flex;
  flex-direction: column;
  gap: 1rem 1rem;
  align-items: baseline;
  justify-content: flex-start;

  .users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem 1rem;

    .user-card {
      min-width: 250px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
