<div class = "user-list" >
	<button (click) = "createUser()" color = "primary" mat-raised-button >
		<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
		Benutzer hinzufügen
	</button >
	<div class = "users" >
		<ng-container *ngFor = "let user of users" >
			<mat-card [matMenuTriggerFor] = "userActions" class = "user-card" >
				<mat-card-header >
					<div mat-card-avatar >
						<p-avatar [label] = "user.username.slice(0, 2).toUpperCase()"
						          [matBadgeHidden] = "user.enabled"
						          [style] = "{ cursor: 'pointer' }"
						          class = "mat-elevation-z1"
						          matBadge = "■"
						          matBadgeColor = "accent"
						          size = "normal" ></p-avatar >
					</div >
					<mat-card-title >
						<div class = "mat-body-1" >
							{{ user.username }}
						</div >
					</mat-card-title >
				</mat-card-header >
			</mat-card >
			<mat-menu #userActions >
				<ng-template matMenuContent >
					<button (click) = "deleteUser(user.username)" mat-icon-button >
						<mat-icon fontSet = "material-symbols-outlined" >delete</mat-icon >
					</button >
					<button (click) = "changePassword(user.username)" mat-icon-button >
						<mat-icon fontSet = "material-symbols-outlined" >edit</mat-icon >
					</button >
				</ng-template >
			</mat-menu >
		</ng-container >
	</div >
</div >
