<casavina-dynamic-list-paginator (selectedOptions) = "selectedOptions = $event"
                                 [dataSource] = "dataSource"
                                 [listInputModel] = "listInputModel" ></casavina-dynamic-list-paginator >
<div class = "actions-button" >
	<button (click) = "createEntity()" mat-mini-fab >
		<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
	</button >
	<button (click) = "updateEntity(selectedOptions[0])" [disabled] = "selectedOptions.length === 0" mat-mini-fab >
		<mat-icon fontSet = "material-symbols-outlined" >edit</mat-icon >
	</button >
	<button (click) = "deleteEntityById(selectedOptions[0])" [disabled] = "selectedOptions.length === 0" mat-mini-fab >
		<mat-icon fontSet = "material-symbols-outlined" >delete</mat-icon >
	</button >
</div >
