<div class = "containers dashboard" >
	<ng-container *ngIf = "{
      offer: offer$ | async,
      status: offerStatus$ | async,
      error: offerError$ | async,
      handsetLayout: handsetLayout$ | async
    } as vm" >
		<ng-container *ngIf = "vm.status && vm.error" >
			<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
		</ng-container >
		<ng-container *ngIf = "vm.offer && vm.offer.length > 0; else noOffer" >
			<ng-container *ngIf = "vm.handsetLayout; else tableLayout" >
				<casavina-event-list [dataSource] = "vm.offer" />
			</ng-container >
			<ng-template #tableLayout >
				<casavina-event-table [dataSource] = "vm.offer" />
			</ng-template >
		</ng-container >
	</ng-container >
</div >

<ng-template #noOffer >
	<div class = "new-offer" >
		<div class = "new-offer-content" >
			<h2 class = "new-offer-title" >Starte jetzt ein neues Wochenangebot</h2 >
			<button (click) = "createOffer()" color = "primary" mat-stroked-button style = "font-size: 16px" >
				<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
				Wochenangebot hinzufügen
			</button >
		</div >
		<div class = "new-offer-image" ></div >
	</div >
</ng-template >
