<div>
	<div >
		<h1 >Allgemeine Geschäftsbedingungen (AGB) für Reservierungen</h1 >

		<h3 >Geltungsbereich</h3 >
		<p >
			Diese Allgemeinen Geschäftsbedingungen regeln die Reservierung von Tischen
			im Restaurant Casa Vina. Durch die Reservierung erklären Sie sich mit
			diesen Bedingungen einverstanden. </p >

		<h3 >Reservierungsmöglichkeiten</h3 >
		<p >
			Sie haben die Möglichkeit, eine Reservierung online über unsere Website,
			telefonisch oder persönlich vorzunehmen. Die Reservierung wird als
			verbindlich betrachtet, sobald sie von uns bestätigt wurde. </p >

		<h3 >Reservierungsbestätigung</h3 >
		<p >
			Nach erfolgreicher Reservierung erhalten Sie von uns eine Bestätigung per
			Telefon oder E-Mail. Bitte überprüfen Sie die Angaben in der Bestätigung
			auf Richtigkeit. Sollten Änderungen oder Stornierungen erforderlich sein,
			bitten wir Sie, uns umgehend zu informieren. </p >

		<h3 >Kontaktaufnahme</h3 >
		<p >
			Das Restaurant Casa Vina behält sich das Recht vor, Sie in den Tagen vor
			Ihrer Reservierung telefonisch zu kontaktieren, um Ihre Reservierung zu
			bestätigen und eventuelle Details zu besprechen. Stellen Sie bitte sicher,
			dass Ihre Kontaktdaten korrekt und aktuell sind. </p >

		<h3 >Stornierung</h3 >
		<p >
			Wenn Sie eine Reservierung stornieren möchten, bitten wir Sie, uns
			telefonisch zu kontaktieren. Stornierungen müssen mindestens 12 Stunden
			vor dem reservierten Zeitpunkt erfolgen. </p >

		<h3 >Datenschutz</h3 >
		<p >
			Wir behandeln Ihre persönlichen Daten vertraulich und gemäß den geltenden
			Datenschutzbestimmungen. Die von Ihnen bereitgestellten Informationen
			werden ausschließlich für die Reservierungsabwicklung und Kontaktaufnahme
			im Zusammenhang mit Ihrer Reservierung verwendet. Eine Weitergabe Ihrer
			Daten an Dritte erfolgt nicht, es sei denn, dies ist zur Erfüllung unserer
			vertraglichen oder gesetzlichen Verpflichtungen erforderlich. </p >

		<h3 >Haftungsausschluss</h3 >
		<p >
			Das Restaurant Casa Vina übernimmt keine Haftung für Verluste, Schäden,
			Verletzungen oder Unannehmlichkeiten, die während Ihres Aufenthalts im
			Restaurant entstehen könnten. </p >

		<h3 >Salvatorische Klausel</h3 >
		<p >
			Sollten einzelne Bestimmungen dieser AGB unwirksam oder undurchführbar
			sein oder werden, bleibt die Wirksamkeit der übrigen Bestimmungen davon
			unberührt. Anstelle der unwirksamen oder undurchführbaren Bestimmung tritt
			eine wirksame und durchführbare Bestimmung, die dem wirtschaftlichen Sinn
			und Zweck der unwirksamen oder undurchführbaren Bestimmung am nächsten
			kommt. </p >

		<br />

		<p >
			Diese AGB gelten ab dem 01.08.2023 und können von Zeit zu Zeit
			aktualisiert werden. Die jeweils gültige Version finden Sie auf unserer
			Website. Durch die Reservierung erklären Sie sich mit den aktuellen AGB
			einverstanden. </p >

		<p >
			Bei Fragen oder Unklarheiten bezüglich unserer AGB stehen wir Ihnen gerne
			zur Verfügung. Bitte kontaktieren Sie uns telefonisch oder per E-Mail. </p >

		<p >
			Vielen Dank für Ihre Reservierung und Ihr Vertrauen in unser Restaurant. </p >
	</div >
</div >
