<div class = "containers" >
	<div >
		<h1 >Reservierung</h1 >
		<p-messages
			*ngIf="temporary"
			[(value)]="message"
			[enableService]="false"
			[closable]="false"
		>
		</p-messages>
		<p >
			Kontaktieren Sie uns direkt unter
			<a color = "primary" href = "tel:+493514011114" mat-button style = "text-decoration: none" >+49 351
			                                                                                            4011114</a >
			oder füllen Sie das untenstehende Formular aus. </p >
		<casavina-reservation-form />
	</div >
</div >