.reserveForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 100%;
}

.form-button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 15px;
}
