<h1 >Entdecken Sie unseren neuesten Flyer</h1 >

<a color = "primary" href = "assets/flyer.pdf" mat-stroked-button target = "_blank" >
	<mat-icon fontSet = "material-symbols-outlined" >download_for_offline</mat-icon >
	Straßenverkauf Karte
</a >
