<div class = "reservations" >
	<ng-container *ngFor = "
      let reservation of dataSource
        | slice
          : pag.pageIndex * pag.pageSize
          : (pag.pageIndex + 1) * pag.pageSize
    " >
		<div class = "reservation" >
			<div class = "reservation-actions" >
				<button [matMenuTriggerFor] = "menu" color = "accent" mat-mini-fab >
					<mat-icon fontSet = "material-symbols-outlined" > menu</mat-icon >
				</button >
				<mat-menu #menu = "matMenu" >
					<button (click) = "closeReservation(reservation)"
					        [disabled] = "reservation['status'] === 'CLOSED'"
					        mat-menu-item >
						<mat-icon fontSet = "material-symbols-outlined" > check</mat-icon >
						Erledigen
					</button >
					<a [href] = "'tel:' + reservation['phone']" mat-menu-item >
						<mat-icon fontSet = "material-symbols-outlined" > call</mat-icon >
						Kontakt
					</a >
				</mat-menu >
				<div class = "connector" ></div >
			</div >
			<div class = "reservation-content" >
				<div class = "root-content" >
					<div *ngIf = "reservation.status === 'CLOSED'" class = "cover" >
						<div class = "cover-icon" >
							<mat-icon fontSet = "material-symbols-outlined" >lock</mat-icon >
						</div >
					</div >
					<div class = "card mat-elevation-z4" >
						<mat-card >
							<mat-card-header >
								<mat-card-title >
									<div class = "mat-subtitle-2" >
										{{ reservation['firstName'] }} {{ reservation['lastName'] }}
									</div >
								</mat-card-title >
								<mat-card-subtitle >
									{{ reservation['reserveAt'] | date: 'medium' }}
								</mat-card-subtitle >
							</mat-card-header >
							<mat-divider />
							<mat-card-content >
								<div class = "reservation-info-list" >
									<div class = "reservation-info-list-item" >
										<mat-icon fontSet = "material-symbols-outlined" >
											person_book
										</mat-icon >
										<p >{{ reservation['numberOfPeople'] }}</p >
									</div >
									<div class = "reservation-info-list-item" >
										<mat-icon fontSet = "material-symbols-outlined" >
											smartphone
										</mat-icon >
										<p >{{ reservation['phone'] }}</p >
									</div >
									<div class = "reservation-info-list-item" >
										<mat-icon fontSet = "material-symbols-outlined" >
											sticky_note_2
										</mat-icon >
										<p >{{ reservation['notice'] }}</p >
									</div >
								</div >
							</mat-card-content >
						</mat-card >
					</div >
				</div >
			</div >
		</div >
	</ng-container >
	<mat-paginator #pag
	               [length] = "dataSource.length"
	               [pageSizeOptions] = "[5, 10, 25, 100]"
	               [pageSize] = "5"
	               aria-label = "select page"
	               showFirstLastButtons />
</div >
