.reservations {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .reservation {
    display: inherit;
    flex-direction: row;
    column-gap: 0.75rem;
    align-items: stretch;

    .reservation-actions {
      display: inherit;
      flex-direction: column;
      flex-shrink: 1;
      justify-content: space-between;
      align-items: center;

      .connector {
        margin-top: 5px;
        border: 1px dashed black;
        flex: 5;
        flex-shrink: 0;
      }
    }

    .reservation-content {
      flex: 1;
      justify-content: flex-start;

      .root-content {
        position: relative;

        .cover {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: block;
          z-index: 999;
          background-color: hsla(0, 0%, 0%, 0.7);
          opacity: 0.75;
          border-radius: 4px;

          .cover-icon {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 3rem;

            i {
              position: relative;
            }
          }
        }

        .card {
          .reservation-info-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 1rem 1rem;

            .reservation-info-list-item {
              display: flex;
              flex-direction: row;
              flex: 1;
              gap: 1rem 1rem;
              color: hsla(0, 0%, 0%, 0.5);
              align-items: baseline;

              mat-icon {
                flex-shrink: 0;
              }

              p {
                flex: 1;
                hyphens: auto;
              }
            }
          }
        }
      }
    }
  }
}
