@use '../../../../library/src/lib/ui/styles/colors' as color;

.footer {
  background-color: color.$casavina-surface;
  border-top: 1px solid hsl(223.6, 84.6%, 92.4%);
  border-radius: 4px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: baseline;
  margin: 0 auto;
  max-width: 90rem;
  color: hsl(43.6, 10%, 45%);

  .logo {
    justify-content: flex-start;

    a {
      text-decoration: none;
      color: hsl(43.6, 10%, 45%);
    }
  }

  .links {
    justify-content: flex-end;
    text-align: right;

    a {
      color: hsl(43.6, 10%, 45%);
    }
  }
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
