<div>
	<div >
		<h1 >Einwilligungsverwaltung für die Datenerhebung zur Reservierung</h1 >

		<h3 >Name des Restaurants</h3 >
		<h4 >Casa Vina</h4 >

		<p >
			Wir freuen uns, dass Sie sich für eine Reservierung in unserem Restaurant
			entschieden haben. Ihre Sicherheit und der Schutz Ihrer persönlichen Daten
			sind uns besonders wichtig. Bitte nehmen Sie sich einem Moment Zeit, um
			unsere Datenschutzrichtlinien und die Verwendung von CSRF-Schutz
			(Cross-Site Request Forgery) für Ihre Reservierung zu verstehen. </p >

		<p >
			Mit Ihrer Reservierung in unserem Restaurant erklären Sie sich mit der
			Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten zum Zweck
			der Reservierung einverstanden. Wir möchten Sie darauf hinweisen, dass wir
			Ihre Daten vertraulich behandeln und sie nicht an Dritte weitergeben, es
			sei denn, dies ist zur Erfüllung unserer vertraglichen oder gesetzlichen
			Verpflichtungen erforderlich. </p >

		<h3 >Art der erhobenen Daten</h3 >

		<ul >
			<li >Vorname</li >
			<li >Nachname</li >
			<li >Telefonnummer</li >
		</ul >

		<h3 >Zweck der Datenverarbeitung</h3 >
		<p >
			Die erhobenen Daten dienen ausschließlich der Reservierungsabwicklung und
			der Kontaktaufnahme im Zusammenhang mit Ihrer Reservierung. </p >

		<h3 >Speicherung und Löschung der Daten</h3 >
		<p >
			Ihre personenbezogenen Daten werden nur so lange gespeichert, wie dies zur
			Erfüllung des Reservierungszwecks erforderlich ist. Nachdem Ihre
			Reservierung abgeschlossen ist, werden Ihre Daten umgehend gelöscht. </p >

		<h3 >Einwilligung und Widerruf</h3 >
		<p >
			Mit Ihrer Reservierung stimmen Sie der oben beschriebenen Verarbeitung
			Ihrer Daten zu. Sie haben das Recht, Ihre Einwilligung jederzeit zu
			widerrufen. Der Widerruf der Einwilligung hat zur Folge, dass Ihre
			Reservierung nicht aufrechterhalten werden kann. </p >

		<h3 >Datenschutzerklärung</h3 >
		<p >
			Weitere Informationen zur Verarbeitung Ihrer Daten und Ihren Rechten gemäß
			den geltenden Datenschutzbestimmungen finden Sie in unserer
			Datenschutzerklärung, die auf unserer Website verfügbar ist. </p >

		<p >
			Bitte bestätigen Sie Ihr Einverständnis zur Datenverarbeitung, indem Sie
			Ihre Reservierung vornehmen. Wenn Sie Fragen oder Bedenken haben, wenden
			Sie sich bitte an unser Team. </p >

		<p >Vielen Dank für Ihr Vertrauen in unser Restaurant.</p >
	</div >
</div >
