<mat-tab-group >
	<ng-container *ngFor = "let category of category$ | async" >
		<mat-tab [label] = "category.name" >
			<ng-template matTabContent >
				<div class = "masonry" >
					<div class = "items" >
						<mat-card *ngFor = "let menuId of category.menus" class = "item-card mat-elevation-z4" >
							<ng-container *ngIf = "facadeService.getMenuDetailsById(menuId) | async as menu" >
								<mat-card-header >
									<mat-card-title >
										<div class = "mat-body-1" >
											{{ menu.name }}
										</div >
									</mat-card-title >
									<mat-card-subtitle >
										<ng-container *ngFor = "
                        let ingredient of menu.ingredients;
                        let last = last
                      " >
											<ng-container *ngIf = "ingredient" >
												{{ ingredient.name }}{{ last ? '' : ', ' }}
											</ng-container >
										</ng-container >
									</mat-card-subtitle >
								</mat-card-header >
								<mat-divider />
								<mat-card-content >
									<pre >{{ menu.description }}</pre >
								</mat-card-content >
								<mat-card-footer class = "card-footer" >
                  <span class = "allergens" >
                    <ng-container *ngFor = "let allergen of menu.allergens; let last = last" >
                      <ng-container *ngIf = "allergen" >
                        {{ allergen.shortName }}{{ last ? '' : ', ' }}
                      </ng-container >
                    </ng-container >
                  </span >
									<span class = "price" >
                    <ng-container *ngFor = "let p of menu.price; let last = last" >
                      {{
                            p | currency: 'EUR' : 'symbol' : '1.2-2'
	                    }}{{ last ? '' : ' - ' }}
                    </ng-container >
                  </span >
								</mat-card-footer >
							</ng-container >
						</mat-card >
					</div >
				</div >
			</ng-template >
		</mat-tab >
	</ng-container >
</mat-tab-group >

<table [dataSource] = "facadeService.getAllAllergenOrderByShortName()" mat-table >
	<ng-container matColumnDef = "name" >
		<th *matHeaderCellDef mat-header-cell ></th >
		<td *matCellDef = "let allergen" mat-cell >
			<p class = "mat-caption" >{{ allergen['name'] }}</p >
		</td >
	</ng-container >
	<ng-container matColumnDef = "shortName" >
		<th *matHeaderCellDef mat-header-cell ></th >
		<td *matCellDef = "let allergen" mat-cell >
			<p class = "mat-caption" >{{ allergen['shortName'] }}</p >
		</td >
	</ng-container >
	<tr *matHeaderRowDef = "['name', 'shortName']" mat-header-row ></tr >
	<tr *matRowDef = "let row; columns: ['name', 'shortName']" mat-row ></tr >
</table >
