.masonry {
  display: inline-block;
  width: 100%;

  .items {
    margin-top: 16px;
    column-count: auto;
    column-width: 18rem;
    column-gap: 1rem;

    .item-card {
      width: 100%;
      max-width: 350px;
      margin-bottom: 16px;
      break-inside: avoid;
      border: 1px solid black;

      pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }

      .card-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .allergens {
          align-self: flex-start;
          margin-left: 16px;
        }

        .price {
          align-self: flex-end;
          margin-right: 16px;
        }
      }
    }
  }
}
