<div class = "containers dashboard" >
	<ng-container *ngIf = "{
      event: event$ | async,
      status: eventStatus$ | async,
      error: eventError$ | async,
      handsetLayout: handsetLayout$ | async
    } as vm" >
		<ng-container *ngIf = "vm.status && vm.error" >
			<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
		</ng-container >
		<ng-container *ngIf = "vm.event && vm.event.length > 0; else noEvent" >
			<ng-container *ngIf = "vm.handsetLayout; else tableLayout" >
				<casavina-event-list [dataSource] = "vm.event" />
			</ng-container >
			<ng-template #tableLayout >
				<casavina-event-table [dataSource] = "vm.event" />
			</ng-template >
		</ng-container >
	</ng-container >
</div >

<ng-template #noEvent >
	<div class = "new-event" >
		<div class = "new-event-content" >
			<h2 class = "new-event-title" >Starte jetzt eine neue Veranstaltung</h2 >
			<button (click) = "createEvent()" color = "primary" mat-stroked-button style = "font-size: 16px" >
				<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
				Veranstaltung hinzufügen
			</button >
		</div >
		<div class = "new-event-image" ></div >
	</div >
</ng-template >
