.new-event {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;

  .new-event-image {
    flex: 1 1 auto;
    background-image: url('/assets/calendar.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    min-height: 250px;
  }

  .new-event-content {
    flex-shrink: 1;

    .new-event-title {
      margin-bottom: 10px;
    }
  }
}
