.menu {
  display: block;
  margin-left: 20px;
}

.menu-card {
  margin-top: 10px;
}

.category-title {
  font-weight: bold;
}

.menu-item-actions {
  display: flex;
  gap: 16px;
  padding-left: 12px;
}
