<ng-container *ngIf = "categories.length > 0; else noMenu" >
	<mat-accordion >
		<ng-container *ngFor = "let category of categories" >
			<mat-expansion-panel [expanded] = "category.id === expandExpansionPanel" >
				<mat-expansion-panel-header >
					<mat-panel-title class = "category-title" >
						{{ category.name }}
					</mat-panel-title >
				</mat-expansion-panel-header >
				<div class = "menu" >
					<ng-container *ngFor = "let menuId of category.menus" >
						<ng-container *ngIf = "facadeService.getMenuById(menuId) | async as menu" >
							<mat-card class = "menu-card" >
								<mat-card-content >
									{{ menu.name }}
								</mat-card-content >
								<mat-card-actions >
									<div class = "menu-item-actions" >
										<button (click) = "updateExistingMenuItem(menu)"
										        aria-label = "edit menu"
										        mat-mini-fab >
											<mat-icon fontSet = "material-symbols-outlined" >edit
											</mat-icon >
										</button >
										<button (click) = "deleteMenu(menu)" aria-label = "delete-menu" mat-mini-fab >
											<mat-icon fontSet = "material-symbols-outlined" >delete
											</mat-icon >
										</button >
									</div >
								</mat-card-actions >
							</mat-card >
						</ng-container >
					</ng-container >
				</div >
				<mat-action-row >
					<button (click) = "createNewMenuItem(category.id)" aria-label = "create new menu" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
					</button >
					<button (click) = "deleteCategory(category)" aria-label = "create new menu" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >delete</mat-icon >
					</button >
				</mat-action-row >
				<ng-template matExpansionPanelContent ></ng-template >
			</mat-expansion-panel >
		</ng-container >
	</mat-accordion >
	<button (click) = "createCategory()"
	        aria-label = "create new category"
	        color = "primary"
	        mat-raised-button
	        style = "margin-top: 10px; margin-bottom: 10px" >
		<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
		Neue Kategorie
	</button >
</ng-container >

<ng-template #noMenu >
	<div class = "no-allergens" >
		<h2 >Das Menü ist derzeit leer</h2 >
		<button (click) = "createCategory()" color = "primary" mat-stroked-button style = "font-size: 16px" >
			<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
			Kategorie hinzufügen
		</button >
	</div >
</ng-template >
