<div class = "containers" >
	<div >
		<h1 >Öffnungszeiten</h1 >
		<mat-table [dataSource] = "dataSource" class = "mat-elevation-z2" >
			<ng-container matColumnDef = "day" >
				<mat-header-cell *matHeaderCellDef >Wochentag</mat-header-cell >
				<mat-cell *matCellDef = "let element" >{{ element.day }}</mat-cell >
			</ng-container >

			<ng-container matColumnDef = "hours" >
				<mat-header-cell *matHeaderCellDef >Uhrzeit</mat-header-cell >
				<mat-cell *matCellDef = "let element" >
					<ng-container *ngFor = "let el of element['hours']" >
						{{ el }}<br />
					</ng-container >
				</mat-cell >
			</ng-container >

			<mat-header-row *matHeaderRowDef = "displayedColumns" ></mat-header-row >
			<mat-row *matRowDef = "let row; columns: displayedColumns" ></mat-row >
		</mat-table >
	</div >
	<div >
		<h1 >Finden Sie uns unter</h1 >
		<div class = "contact" >
			<div class = "mat-elevation-z2" id = "map" ></div >
		</div >
	</div >
</div >
