.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 1rem;

  #map {
    flex-basis: 65%;
    min-height: 400px;
    flex-grow: 1;
    border-radius: 4px;
  }
}

mat-header-cell {
  font-weight: 600;
}
