<casavina-dynamic-form [groupValidators] = "data.groupValidators" [inputModel] = "data.inputModel" >
	<ng-template csFormActions let-form >
		<div class = "dialog-actions" >
			<button (click) = "submitForm(form)"
			        [disabled] = "!form.valid"
			        color = "accent"
			        mat-mini-fab
			        type = "button" >
				<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
			</button >
		</div >
	</ng-template >
</casavina-dynamic-form >
