.search-icon {
  margin-top: -10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .spacer {
    display: inherit;
    flex: 1;
  }

  .header-actions {
    display: inherit;
    gap: 10px 10px;
    justify-content: flex-end;
  }
}

.table-cell-value {
  max-width: 80ch;
  hyphens: auto;
}

.column-header {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
}
