<p-table #dynamicTable
         (selectionChange) = "onSelectionChange($event)"
         [(selection)] = "selectedItem"
         [dataKey] = "dataKey"
         [globalFilterFields] = "defaultGlobalFilterFields"
         [paginator] = "false"
         [rowsPerPageOptions] = "[5, 10, 25, 50, 100]"
         [rows] = "5"
         [scrollable] = "true"
         [selectionMode] = "'single'"
         [showCurrentPageReport] = "false"
         [value] = "
    dataSource
      | slice: pag.pageIndex * pag.pageSize : (pag.pageIndex + 1) * pag.pageSize
  " >
	<ng-container *ngIf = "defaultGlobalFilterFields.length > 0 || tableActionsTemplate" >
		<ng-template pTemplate = "caption" >
			<div class = "header" >
				<div *ngIf = "defaultGlobalFilterFields.length > 0" class = "p-input-icon-left" >
					<i class = "search-icon" >
						<span class = "material-symbols-outlined" >search</span >
					</i >
					<input (input) = "dynamicTable.filterGlobal(searchValue, 'contains')"
					       [(ngModel)] = "searchValue"
					       pInputText
					       type = "text" />
				</div >
				<span class = "spacer" ></span >
				<div class = "header-actions" >
					<ng-container *ngTemplateOutlet = "
              tableActionsTemplate || emptyActions;
              context: { $implicit: getCurrentSelectedItem() | async }
            " ></ng-container >
				</div >
			</div >
		</ng-template >
	</ng-container >
	<ng-template pTemplate = "header" >
		<tr >
			<ng-container *ngFor = "let column of columns" >
				<th [pSortableColumn] = "column.columnDef" >
					<div class = "column-header" >
						{{ column.header }}
						<p-sortIcon [field] = "column.columnDef" ></p-sortIcon >
						<p-columnFilter *ngIf = "column.filter"
						                [field] = "column.filter.objectPropertyName"
						                [type] = "column.filter.objectPropertyType"
						                display = "menu"
						                prefix = "<p>" ></p-columnFilter >
					</div >
				</th >
			</ng-container >
		</tr >
	</ng-template >
	<ng-template let-row pTemplate = "body" >
		<tr [pSelectableRow] = "row" >
			<ng-container *ngFor = "let column of columns; let i = index" >
				<td >
					<ng-container *ngTemplateOutlet = "
              tableCellTemplate || defaultTableCell;
              context: { row: row, column: column, index: i }
            " ></ng-container >
					<ng-template #defaultTableCell >
						<p class = "table-cell-value" >{{ column.cell(row) }}</p >
					</ng-template >
				</td >
			</ng-container >
		</tr >
	</ng-template >
	<ng-template pTemplate = "emptymessage" >
		<tr >
			<td >{{ notFoundMessage }}</td >
		</tr >
	</ng-template >
</p-table >
<mat-paginator #pag
               [length] = "dataSource.length"
               [pageSizeOptions] = "[5, 10, 25, 100]"
               [pageSize] = "5"
               aria-label = "select page"
               showFirstLastButtons />
<ng-template #emptyActions />
