<ng-container *ngIf = "status === 'loading'" >
	<casavina-progress-bar-indeterminate ></casavina-progress-bar-indeterminate >
</ng-container >
<ng-container *ngIf = "error && status === 'error'" >
	<casavina-messages [message] = "[{ severity: 'error', summary: 'Error', detail: error }]" ></casavina-messages >
</ng-container >
