<div class = "login-form" >
	<div class = "containers dashboard" >
		<casavina-dynamic-form (outputForm) = "loginForm = $event" [inputModel] = "inputModel" >
			<ng-template csFormActions let-form >
				<button (click) = "onSubmit(form)"
				        [disabled] = "!form.valid"
				        aria-label = "submit"
				        color = "primary"
				        label = "Anmelden"
				        mat-raised-button >
					<mat-icon fontSet = "material-symbols-outlined" >login</mat-icon >
					Anmelden
				</button >
			</ng-template >
			>
		</casavina-dynamic-form >
		<ng-container *ngIf = "{ status: authStatus$ | async, error: authError$ | async } as vm" >
			<ng-container *ngIf = "vm.status && vm.error" >
				<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
			</ng-container >
		</ng-container >
	</div >
</div >
