@use '../../../styles/colors' as color;

.navbar-items-details {
  display: flex;
  align-content: baseline;
  gap: 5px;
  color: hsl(43.6, 10%, 45%);
  margin-left: 4px;
}

.active {
  color: hsl(43.6, 10%, 0%);
  text-decoration: underline solid color.$casavina-primary;
  text-decoration-thickness: 4px;
}

.nav-child-list {
  margin-left: 30px;
  margin-top: -25px;
}
