<div >
	<h1 >Get ready, um unser besonderes Gericht zu genießen!</h1 >
	<mat-accordion >
		<mat-expansion-panel *ngFor = "let offer of offers" >
			<mat-expansion-panel-header >
				{{ offer.title }}
			</mat-expansion-panel-header >
			<ng-template matExpansionPanelContent >
				<pre class = "offer-message" >{{ offer.message }}</pre >
				<div class = "offer-price mat-subtitle-2" >
					<ng-container *ngFor = "let price of offer.price; let last = last" >
						{{
                            price | currency: 'EUR' : 'symbol' : '1.2-2'
						}}{{ last ? '' : ' - ' }}
					</ng-container >
				</div >
			</ng-template >
		</mat-expansion-panel >
	</mat-accordion >
</div >
