@use '../styles/colors' as color;

nav {
  border-bottom: 1px solid color.$casavina-border;
  border-top: 2px solid color.$casavina-primary;

  .navbar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    gap: 10px;
    padding: 0.75rem 0.875rem;
    margin: 0 auto;

    .navbar-content-logo {
      display: inherit;
      flex-direction: row;
      align-items: baseline;

      .logo {
        height: 51px;
        width: 85px;
      }
    }
  }
}

casavina-navbar-items-mobile {
  display: none;
}

@media ((max-width: 599.98px) and (orientation: portrait)) or ((max-width: 959.98px) and (orientation: landscape)) {
  casavina-navbar-items {
    display: none;
  }

  casavina-navbar-items-mobile {
    display: flex;
  }
}
