<div class = "containers" >
	<casavina-flyer />
	<ng-container *ngIf = "{
      status: categoryStatus$ | async,
      error: categoryError$ | async
    } as vm" >
		<casavina-menu-items [category$] = "allCategories$" />
		<ng-container *ngIf = "vm.status && vm.error" >
			<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
		</ng-container >
	</ng-container >
</div >
