<div class = "containers dashboard" >
	<ng-container *ngIf = "{
      allergens: allergen$ | async,
      status: allergenStatus$ | async,
      error: allergenError$ | async
    } as vm" >
		<ng-container *ngIf = "vm.status && vm.error" >
			<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
		</ng-container >
		<ng-container *ngIf = "vm.allergens && vm.allergens.length > 0; else noAllergens" >
			<casavina-dynamic-table-paginator [columns] = "columns" [dataKey] = "'id'" [dataSource] = "vm.allergens" >
				<ng-template csTableActions let-selection >
					<button (click) = "createAllergen()" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
					</button >
					<button (click) = "updateAllergen(selection)" [disabled] = "!selection" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >edit</mat-icon >
					</button >
					<button (click) = "deleteAllergen(selection)" [disabled] = "!selection" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >delete</mat-icon >
					</button >
				</ng-template >
			</casavina-dynamic-table-paginator >
		</ng-container >
	</ng-container >
</div >

<ng-template #noAllergens >
	<div class = "no-allergens" >
		<h2 >Zur Zeit sind keine Allergene bekannt</h2 >
		<button (click) = "createAllergen()" color = "primary" mat-stroked-button style = "font-size: 16px" >
			<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
			Allergen hinzufügen
		</button >
	</div >
</ng-template >
