<div class = "pnf-container" >
	<div class = "mat-elevation-z5" >
		<mat-card >
			<img alt = "404" mat-card-image src = "./assets/404.svg" />
			<mat-card-content >
				<p >Oops, it looks like the page you're looking for doesn't exist.</p >
				<hr />
				<p >
					Es scheint, als ob die Seite, nach der Sie suchen, nicht existiert. </p >
			</mat-card-content >
		</mat-card >
	</div >
</div >
