<form [formGroup] = "dynamicForm" class = "dynamic-form p-fluid" >
	<ng-container *ngFor = "let field of inputField" >
		<ng-container *ngIf = "field.type === 'text'" >
			<input [autocomplete] = "field.autocomplete || field.type"
			       [formControlName] = "field.fieldName"
			       [placeholder] = "field.placeholder || field.label"
			       [type] = "field.type"
			       pInputText />
		</ng-container >

		<ng-container *ngIf = "field.type === 'password'" >
			<p-password [autocomplete] = "field.autocomplete || field.type"
			            [feedback] = "field.feedback || false"
			            [formControlName] = "field.fieldName"
			            [placeholder] = "field.placeholder || field.label"
			            [toggleMask] = "true" />
		</ng-container >

		<ng-container *ngIf = "field.type === 'textarea'" >
      <textarea [autoResize] = "true"
                [formControlName] = "field.fieldName"
                [placeholder] = "field.placeholder || field.label"
                pInputTextarea
                rows = "5" ></textarea >
		</ng-container >

		<ng-container *ngIf = "field.type === 'number'" >
			<p-inputNumber [autocomplete] = "field.autocomplete || field.type"
			               [formControlName] = "field.fieldName"
			               [inputId] = "field.inputId"
			               [locale] = "field.locale"
			               [mode] = "field.mode"
			               [placeholder] = "field.placeholder || field.label"
			               [prefix] = "field.prefix"
			               [suffix] = "field.suffix" ></p-inputNumber >
		</ng-container >

		<ng-container *ngIf = "field.type === 'toggle'" >
			<p-toggleButton [formControlName] = "field.fieldName"
			                [offLabel] = "field.offLabel || 'Nein'"
			                [onLabel] = "field.onLabel || 'Ja'" ></p-toggleButton >
		</ng-container >

		<ng-container *ngIf = "field.type === 'radio'" >
			<div *ngFor = "let option of field.options" >
				<p-radioButton [formControlName] = "field.fieldName"
				               [inputId] = "option.label"
				               [value] = "option.value" ></p-radioButton >
				<label [for] = "option.label" >{{ option.label }}</label >
			</div >
		</ng-container >

		<ng-container *ngIf = "field.type === 'select'" >
			<ng-container *ngIf = "field.multiple; else dropdown" >
				<p-multiSelect [formControlName] = "field.fieldName"
				               [optionLabel] = "field.optionLabelName"
				               [optionValue] = "field.optionValueName"
				               [options] = "field.options"
				               [placeholder] = "field.placeholder || field.label"
				               display = "chip" ></p-multiSelect >
			</ng-container >
			<ng-template #dropdown >
				<p-dropdown [formControlName] = "field.fieldName"
				            [optionLabel] = "field.optionLabelName"
				            [optionValue] = "field.optionValueName"
				            [options] = "field.options"
				            [placeholder] = "field.placeholder || field.label" ></p-dropdown >
			</ng-template >
		</ng-container >

		<ng-container *ngIf = "field.type === 'date'" >
			<p-calendar [disabledDates] = "field.disabledDates || []"
			            [disabledDays] = "field.disabledDays || []"
			            [formControlName] = "field.fieldName"
			            [inline] = "field.inline || false"
			            [maxDate] = "field.maxDate || emptyObject"
			            [minDate] = "field.minDate || emptyObject"
			            [placeholder] = "field.placeholder || field.label"
			            [showButtonBar] = "true"
			            [showTime] = "field.time || false"
			            [showWeek] = "true"
			            appendTo = "body" ></p-calendar >
		</ng-container >

		<ng-container *ngIf = "field.type === 'chips'" >
			<p-chips [formControlName] = "field.fieldName"
			         [placeholder] = "field.placeholder || field.label"
			         separator = "," ></p-chips >
		</ng-container >
	</ng-container >
	<ng-container *ngTemplateOutlet = "
      formActionsTemplate || emptyActions;
      context: { $implicit: dynamicForm }
    " ></ng-container >
</form >

<ng-template #emptyActions />
