.dynamic-form {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
