<div class = "containers dashboard" >
	<ng-container *ngIf = "{
      users: users$ | async,
      status: userStatus$ | async,
      error: userError$ | async
    } as vm" >
		<ng-container *ngIf = "vm.status && !!vm.error" >
			<casavina-loading-error-status [error] = "vm.error" [status] = "vm.status" />
		</ng-container >
		<ng-container *ngIf = "vm.users" >
			<casavina-users-list [users] = "vm.users" />
		</ng-container >
	</ng-container >
</div >
