<casavina-dynamic-form [inputModel] = "inputModel" >
	<ng-template csFormActions let-form >
		<button (click) = "createReservation(form)"
		        [disabled] = "!form.valid"
		        aria-label = "submit"
		        color = "primary"
		        label = "Anmelden"
		        mat-raised-button >
			<mat-icon fontSet = "material-symbols-outlined" >send</mat-icon >
			Reservieren
		</button >
	</ng-template >
</casavina-dynamic-form >
