<div class = "containers dashboard" >
	<ng-container *ngIf = "{
      ingredients: ingredient$ | async,
      status: ingredientStatus$ | async,
      error: ingredientError$ | async
    } as vm" >
		<ng-container *ngIf = "vm.status && vm.error" >
			<casavina-loading-error-status [error] = "vm.error"
			                               [status] = "vm.status" ></casavina-loading-error-status >
		</ng-container >
		<ng-container *ngIf = "vm.ingredients && vm.ingredients.length > 0; else noIngredient" >
			<casavina-dynamic-table-paginator [columns] = "columns" [dataSource] = "vm.ingredients" >
				<ng-template csTableActions let-selection >
					<button (click) = "createIngredient()" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
					</button >
					<button (click) = "updateIngredient(selection)" [disabled] = "!selection" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >edit</mat-icon >
					</button >
					<button (click) = "deleteIngredient(selection)" [disabled] = "!selection" mat-mini-fab >
						<mat-icon fontSet = "material-symbols-outlined" >delete</mat-icon >
					</button >
				</ng-template >
			</casavina-dynamic-table-paginator >
		</ng-container >
	</ng-container >
</div >

<ng-template #noIngredient >
	<div class = "no-allergens" >
		<h2 >Zur Zeit gibt es keine Zutaten</h2 >
		<button (click) = "createIngredient()" color = "primary" mat-stroked-button style = "font-size: 16px" >
			<mat-icon fontSet = "material-symbols-outlined" >add</mat-icon >
			Zutat hinzufügen
		</button >
	</div >
</ng-template >
