.list-option {
  margin-bottom: 30px;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
}

.item-line {
  margin-top: -15px;
}

.list-item {
  display: flex;
  position: relative;
  justify-content: flex-start;
  padding: 0;
  align-items: stretch;
  cursor: pointer;
  color: hsl(0, 0%, 12.2%);

  .list-item-icon {
    align-self: flex-start;
    margin-top: 16px;
    margin-right: 16px;
    color: hsl(43.6, 9.1%, 68%);
  }

  .list-item-content {
    pointer-events: auto;
    align-self: stretch;
    overflow: hidden;
    flex: 1;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    p {
      margin-top: 0;
    }

    .list-item-value {
      color: hsl(43.6, 14.6%, 35%);
      max-width: 80ch;
      hyphens: auto;
    }

    .list-item-label {
      font-weight: bold;
    }
  }
}
