<mat-selection-list (selectionChange) = "onSelectionChange($event)" [multiple] = "multiple" >
	<mat-list-option *ngFor = "
      let item of dataSource
        | slice
          : pag.pageIndex * pag.pageSize
          : (pag.pageIndex + 1) * pag.pageSize
    " [lines] = "listInputModel.itemProperties.length * 2" [value] = "item" class = "list-option" >
		<div class = "item-title" matListItemTitle >
			{{ listInputModel.title(item) }}
		</div >
		<div class = "item-line" matListItemLine >
			<ng-container *ngFor = "let property of listInputModel.itemProperties" >
				<div class = "list-item" >
					<mat-icon *ngIf = "property.icon" class = "list-item-icon" fontSet = "material-symbols-outlined" >
						{{ property.icon }}
					</mat-icon >
					<div class = "list-item-content" >
						<p class = "list-item-label" >{{ property.label }}</p >
						<p class = "list-item-value" >{{ property.value(item) }}</p >
					</div >
				</div >
			</ng-container >
		</div >
	</mat-list-option >
</mat-selection-list >
<mat-paginator #pag
               [length] = "dataSource.length"
               [pageSizeOptions] = "[5, 10, 25, 100]"
               [pageSize] = "5"
               aria-label = "select page"
               showFirstLastButtons />
