<div class = 'flex flex-col gap-16' >
	<casavina-hero-section />

	<ng-container *ngIf = '{
      offers: offer$ | async,
      offerStatus: offerStatus$ | async,
      offerError: offerError$ | async,
      events: event$ | async,
      eventStatus: eventStatus$ | async,
      eventError: eventError$ | async
    } as vm' >
		<casavina-offer-section *ngIf = 'vm.offers && vm.offers.length > 0'
		                        [error] = "vm.offerError || ''"
		                        [offers] = 'vm.offers'
		                        [status] = "vm.offerStatus || ''" />

		<casavina-event-section *ngIf = 'vm.events && vm.events.length > 0'
		                        [error] = "vm.eventError || ''"
		                        [events] = 'vm.events'
		                        [status] = "vm.eventStatus || ''" />
	</ng-container >

	<div>
		<h1 >Hier können Sie unsere Straßenverkaufskarte herunterladen</h1 >
		<a color = 'primary' href = 'assets/flyer.pdf' mat-stroked-button target = '_blank' >
			<mat-icon fontSet = 'material-symbols-outlined' >download_for_offline
			</mat-icon >
			Straßenverkaufskarte
		</a >
	</div >

	<div >
		<casavina-gallery-section />
	</div >
</div >