<div>
	<div >
		<h1 >Datenschutzerklärung</h1 >

		<p >
			Vielen Dank für Ihr Interesse an unserem Restaurant und Ihrem Vertrauen in
			unsere Dienstleistungen. Der Schutz Ihrer persönlichen Daten ist uns ein
			wichtiges Anliegen. Nachfolgend möchten wir Sie über die Erhebung,
			Verarbeitung und Nutzung Ihrer personenbezogenen Daten im Zusammenhang mit
			Reservierungen in unserem Restaurant informieren. </p >

		<h3 >Verantwortliche Stelle</h3 >

		<p >
			Verantwortlich für die Verarbeitung Ihrer personenbezogenen Daten ist das
			Restaurant Casa Vina, Karlsruher Str. 143, 01189 Dresden. </p >

		<h3 >Erhebung und Verwendung von personenbezogenen Daten</h3 >

		<p >
			Bei einer Reservierung in unserem Restaurant erfassen wir personenbezogene
			Daten wie Vorname, Nachname und Telefonnummer. Diese Daten werden von uns
			ausschließlich für den Zweck der Reservierung und Kontaktaufnahme im
			Zusammenhang mit Ihrer Reservierung verwendet. </p >

		<h3 >Speicherung und Löschung der Daten</h3 >

		<p >
			Wir speichern Ihre personenbezogenen Daten nur so lange, wie dies zur
			Erfüllung des Zwecks, für den sie erhoben wurden, erforderlich ist.
			Nachdem Ihre Reservierung abgeschlossen ist, werden Ihre Daten automatisch
			gelöscht. </p >

		<h3 >Weitergabe an Dritte</h3 >

		<p >
			Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter, es sei
			denn, dies ist zur Erfüllung unserer vertraglichen oder gesetzlichen
			Verpflichtungen erforderlich oder Sie haben ausdrücklich eingewilligt. </p >

		<h3 >Datensicherheit</h3 >

		<p >
			Wir treffen angemessene technische und organisatorische Maßnahmen, um Ihre
			Daten gegen unbefugten Zugriff, Verlust oder Zerstörung zu schützen. Ihre
			Daten werden verschlüsselt übertragen und auf sicheren Servern
			gespeichert. </p >

		<h3 >Ihre Rechte</h3 >

		<p >
			Sie haben das Recht auf Auskunft über die von uns verarbeiteten
			personenbezogenen Daten, deren Berichtigung, Löschung oder Einschränkung
			der Verarbeitung. Darüber hinaus können Sie der Verarbeitung Ihrer Daten
			widersprechen und haben das Recht auf Datenübertragbarkeit. Bitte
			kontaktieren Sie uns dazu unter den unten angegebenen Kontaktdaten. </p >

		<h3 >Kontakt</h3 >

		<p >
			Bei Fragen, Anregungen oder Beschwerden zum Datenschutz in unserem
			Restaurant stehen wir Ihnen gerne zur Verfügung. Sie erreichen uns unter
			folgenden Kontaktdaten: </p >

		<p >
			Restaurant Casa Vina<br />
			Karlsruher Str. 143<br />
			01189 Dresden<br />
			E-Mail: datenschutz(at)casavina.de<br />
			Telefon: +49 (0) 351 4011114 </p >

		<p >
			Wir behalten uns vor, diese Datenschutzerklärung bei Bedarf anzupassen, um
			sie an rechtliche Anforderungen anzupassen oder um Änderungen unserer
			Dienstleistungen umzusetzen. Bitte überprüfen Sie diese
			Datenschutzerklärung regelmäßig, um auf dem neuesten Stand zu bleiben. </p >
	</div >
</div >
