.hero-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px 50px;

  .hero-content {
    display: inherit;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    column-gap: 6rem;

    h1 {
      max-width: 20ch;
    }

    .message {
      background-image: url('/assets/svg/asset-svg2.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      p {
        max-width: 55ch;
        margin-bottom: 15px;
      }

      button {
        font-size: 16px;
      }
    }
  }

  .image {
    display: inherit;
    justify-content: center;
    align-content: center;
    background-image: url('/assets/svg/asset-svg5.svg');
    background-size: contain;
    background-position: left;

    img {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    .content {
      .message {
        margin-top: -30px;
      }
    }

    .image {
      img {
        max-width: 300px;
      }
    }
  }
}
