<div class = "hero-section" >
	<div class = "hero-content" >
		<h1 >Genießen Sie das Beste von Italien und Vietnam auf einem Teller</h1 >
		<div class = "message" >
			<p >
				Willkommen bei Casa Vina – dem Ort, an dem vietnamesische und
				italienische Küche aufeinandertreffen. Genieße authentische Aromen in
				entspannter Atmosphäre. Entdecke die Vielfalt unserer Speisekarte und
				lass dich von der Fusion aus Ost und West überraschen. Dein
				Geschmackserlebnis beginnt hier. </p >
			<button color = "primary" mat-raised-button routerLink = "/reservation" >
				Reservierung
			</button >
		</div >
	</div >
	<div class = "image" >
		<img alt = "inside of the restaurant" src = "assets/7.webp" />
	</div >
</div >
