<h1 >Erfahren Sie das Ambiente: Ein Einblick in unser Restaurant</h1 >
<div class = "gallery" >
	<p-galleria [circular] = "true"
	            [numVisible] = "5"
	            [showIndicators] = "true"
	            [showItemNavigators] = "true"
	            [showThumbnails] = "false"
	            [value] = "imageUrls" >
		<ng-template let-item pTemplate = "item" >
			<img alt = "{{ item }}" src = "{{ item }}" />
		</ng-template >
	</p-galleria >
</div >
