.gallery {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .gallery > img {
    width: 300px;
  }
}
