<div>
	<div >
		<h1 >Impressum</h1 >

		<h3 >Verantwortlich für den Inhalt</h3 >

		<p >
			Dang Hong Quan<br />
			Karlsruher Str. 143<br />
			01189 Dresden </p >

		<h3 >Vertretungsberechtigte Geschäftsführer</h3 >

		<p >
			Herr Hecht Van Chi<br />
			Karlsruher Str. 143<br />
			01189 Dresden </p >

		<h3 >Kontakt</h3 >

		<p >
			Telefon: +49 (0) 351 4011114<br />
			E-Mail: contact(at)casavina.de </p >

		<h3 >Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz</h3 >
		<p >DE 123456789</p >

		<h3 >Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV</h3 >

		<p >
			Herr Dang Hong Quan<br />
			Karlsruher Str. 143<br />
			01189 Dresden </p >

		<h3 >Haftungsausschluss</h3 >

		<p >
			Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
			die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
			ausschließlich deren Betreiber verantwortlich. </p >

		<h3 >Urheberrecht</h3 >

		<p >
			Die durch die Seitenbetreiber erstellten Inhalte und Werke auf dieser
			Website unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
			Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
			des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen
			Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
			privaten, nicht kommerziellen Gebrauch gestattet. </p >

		<h3 >Design und Umsetzung der Website</h3 >

		<p >
			Entwickler Tan Minh Ho<br />
			E-Mail: tmho(at)casavina.de </p >

		<h3 >Hinweis gemäß EU-Verordnung Nr. 524/2013</h3 >

		<p >
			Die Europäische Kommission stellt eine Plattform zur
			Online-Streitbeilegung (OS) bereit, die Sie unter folgendem Link finden:
			https://ec.europa.eu/consumers/odr/ </p >
	</div >
</div >
